@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;1,100;1,200&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: row;
  font-weight: 200;
  margin: 0;
}

main {
  margin-left: 20px;
}

nav {
  width: 30rem;
  display: flex;
  flex-direction: column;
  border-right: 3px solid grey;
}

.nav-link {
  text-decoration: none;
  color: black;
  border-top: 1px solid black;
  padding: 20px;
  font-weight: 400;
}

header {
  font-size: 25px;
  margin: 20px 0;
  font-weight: 400;
}

p {
  padding-left: 20px;
}

li {
  padding-left: 40px;
}

#go-home {
  display: inline-block;
}

