@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
  padding: 54px;
  font-family: 'Poppins', sans-serif;
}

header {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  background-color: lavender;
  padding: 0 30px;
}

#header-img {
  height: 50px;
  width: 50px;
}

#title {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  color: navy;
}

#nav-bar {
  display: flex;
  align-items: center;
}

li {
  list-style-type: none;
  display: inline;
  padding: 0 10px;
}

.nav-link {
  text-decoration: none;
  color: navy;
}

.nav-link:hover {
  color: white;
}

#form-div {
  text-align: center;
}

form {
  width: 50%;
}


