@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
  padding: 54px 0 0 0;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(205, 205, 246);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  background-color: lavender;
  padding: 0 30px;
}

#header-img {
  height: 50px;
  width: 50px;
}

#title {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  color: navy;
}

#nav-bar {
  display: flex;
  align-items: center;
} 

#nav-bar li {
  list-style-type: none;
  display: inline;
  padding: 0 10px;
}

.nav-link {
  text-decoration: none;
  color: navy;
}

.nav-link:hover {
  color: white;
}

#form-div {
  text-align: center;
}

#form-title {
  color: navy;
  font-size: 25px;
}

#email, #submit {
  width: 30%;
  align-self: center;
  height: 30px;
  border-radius: 5px;
  border: 1px solid white;
}

#submit {
  margin: 15px;
  background-color: navy;
  border: 1px solid navy;
  color: white;
  height: 35px;
}

#dream-sections-div {
  width: 80%;
  margin: auto;
  margin-top: 50px;
}

.dream-section {
  display: flex;
  flex-direction: row;
  color: navy;
  margin-bottom: 50px;
}

.dream-section img {
  height: 80px;
  width: 80px;
  margin-right: 30px;
}

.dream-section h2, .dream-section h3 {
  margin: 0px;
}

#video-div {
  display: flex;
  justify-content: center;
}

#prices-div {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.price-div {
  text-align: center;
  border: 1px solid navy;
  background-color: navy;
  border-radius: 20px;
  color: lavender;
}

.price-div h3 {
  background-color: rgb(0, 0, 87);
  padding: 10px 0;
  margin: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.price-info {
  padding: 0 60px 40px 60px;
  list-style-type: none;
}

.price-info button {
  margin-top: 30px;
  height: 35px;
  width: 85px;
  background-color: lavender;
  border-radius: 5px;
  border: 1px solid lavender;
  color: navy;
}

#home-link-div {
  text-align: center;
  margin: 50px;
}

#home-link {
  text-decoration: none;
  color: navy;
  background-color: lavender;
  padding: 10px;
  border-radius: 5px;
}

#home-link:hover {
  color: lavender;
  background-color: navy;
}

main {
  flex: 1;
}

footer {
  background-color: navy;
  color: white;
  text-align: right;
  padding: 0 30px;
}